table th,
table td {
  border: 1px solid #10b981; /* bottom and right borders, border-emerald-500 */
  padding: 0.5em;
}

tr:nth-child(even) {
  background: rgba(52, 211, 153, 0.07) /* bg-emerald-400 */
}
