.uplot {
  display: inline-block;
  width: calc(100% - 0.5em);
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  padding: 0.5em 0;
  border-radius: 4px;
}
#overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  margin: 0.75rem;
  color: #fff;
  z-index: 10;
  pointer-events: none;
}
.tooltip {
  pointer-events: none;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.5em;
  z-index: 1;
  display: flex;
  align-items: baseline;
}
.tooltip .x-value {
  font-size: 0.9em;
}
.u-cursor-x, .u-cursor-y, .u-cursor-pt {
  z-index: 1;
}